<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>

        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d [%t] %-5level %logger{36} - %msg%n%throwable"/>
        </Console>

        <RollingFile name="RollingFile" fileName="logs/app.log" filePattern="logs/app-%d{MM-dd-yyyy}.log.gz"
                     ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <TimeBasedTriggeringPolicy />
        </RollingFile>

        <Failover name="Failover" primary="RollingFile">
            <Failovers>
                <AppenderRef ref="ConsoleAppender"/>
            </Failovers>
        </Failover>

    </Appenders>
    <Loggers>
        <Logger name="com.sk" level="debug" additivity="false">
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="ConsoleAppender"/>
        </Logger>
    </Loggers>
</Configuration>